.top_image {
    background-image: url(../img/library.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* 画像のサイズを指定    */
    width: 100%;
    height: 800px;
    text-align: center;
}

h1 {
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 0;
}

p {
    margin: 0;
}

.login {
    margin-top: 50px;
    color: white;
    font-weight: bold;
}

.submit {
    margin-top: 60px;
}


a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px 20px;
    border-radius: 5px;
}

a:hover {
    color: #000;
    background: #fff;
}


.mypage {
    margin-top: 200px;
    color: white;
}



.button {
    color: #000;
    margin: 40px 20px;
    padding: 5px 20px;
    border: 2px solid #000;
    border-radius: 5px;
    background: #fff;
}

.button:hover {
    color: #fff;
    background: #000;
}
