
img {
    width: 100px;
    margin: 0 auto;
    display: block;
}

.content{
    display: flex;
    justify-content: center;
}

ul.menu {
    width: 1200px;
    height: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

li {
    flex-grow: 1;
    display: inline-block;
    list-style: none;
    font-weight: bold;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}


.top_image {
    background-image: url(../img/library.png);
    padding: 20px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: contain;
    /* 画像のサイズを指定    */
    width: 100%;
    height: 1500px;
}

h1 {
    margin-top: 50px;
    text-align: center;
}

form.main,.main{
    width: 550px;
    margin: 80px auto;
    font-weight: bold;
    color: black;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 10px;
    text-align: center;
}

.update,.delete,.profile{
    margin: auto;
}

form.back {
    text-align: center;
}

.button_container {
    display: flex;
    justify-content: center;
}

.button {
    color: #000;
    margin: 40px 20px;
    padding: 5px 20px;
    border: 2px solid #000;
     border-radius: 5px;
    background: #fff;
}

.button:hover{
    color: #fff;
    background: #000;
}

.logout{
    text-align: center;
}