
img {
    width: 100px;
    margin: 0 auto;
    display: block;
}

.content{
    display: flex;
    justify-content: center;
}

ul.menu {
    width: 1200px;
    height: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

li {
    flex-grow: 1;
    display: inline-block;
    list-style: none;
    font-weight: bold;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}


.top_image {
    background-image: url(../img/library.png);
    padding: 20px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: contain;
    /* 画像のサイズを指定    */
    width: 100%;
    height: 1500px;
}

h1 {
    margin-top: 50px;
    text-align: center;
}

.main {
    width: 700px;
    margin: 80px auto;
    font-weight: bold;
    color: black;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 10px;
    text-align: center;
}

.mypage{
    width: 80%;
    margin: 0 auto;
    padding: 0 auto;
    border-collapse: collapse;
    background-color: #faebd7;
    border-color: #ff4500;
    box-shadow: 15px 10px 0px 0 rgb(0, 0, 0,0.3);
    border: none;
    border-radius: 10px 0 0 0;
}

.mypage th{
    border-bottom: solid 2px #ff4500;
    border-right: solid 1px #ff4500;
}

.mypage th:last-child{
    border-right: none;
}

.mypage td{
    border-bottom: solid 1px #ff4500;
    border-right: solid 1px #ff4500;
}

.mypage td:last-child{
     border-right: none;
}

.mypage tr:nth-of-type(6) td{
     border-bottom: none;
}


.left{
    width: 20%;
    height: 35px;
}

.center{
    width: 10%;
}

.right{
    width: 70%;
}


.button {
    color: #000;
    padding: 5px 20px;
    border: 2px solid #000;
    background: #fff;
}

.button:hover{
    color: #fff;
    background: #000;
}

.list-item{
    opacity: 1;
}

.list-item.is-hidden {
    opacity: 0;
    height: 0;
    margin: 0;
    overflow: hidden; 
}

.list-btn {
    margin-top: 20px;
}

.list-btn.is-btn-hidden{
  display:none;
}

.list-btn button {
    background-color: #000;
    color:#fff;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin-bottom: 20px;
    height: 32px;
    line-height: 32px;
    width: 120px;
}
